<script id="template-index" type="text/html">
    <h1>My Warehouse</h1>
        <p>This is your personal Warehouse. You can add or remove goods from your warehouse by clicking on the
            corresponding buttons.</p>
        <div class="flex row wrap">
            <div class="control">
                <div class="title">
                    Add / Remove
                </div>
                <div class="content">
                    <form class="newline full">
                        <label for="id">Number</label>
                        <input type="number" min="0" required name="id" />

                        <label for="gtin">GTIN</label>
                        <input type="text" maxlength="14" name="gtin" />

                        <label for="qty">Quantity</label>
                        <input type="number" min="1" max="10" name="qty" value="1" required />

                        <div class="flex row wrap">
                            <button class="flexauto textcenter" type="submit" value="minus">-</button>
                            <button class="flexauto textcenter" type="submit" value="plus">+</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="control">
                <div class="title">
                    Add new
                </div>
                <div class="content">
                    <div class="content">
                        <form class="newline full">
                            <label for="caption">Caption</label>
                            <input type="text" name="caption" required />

                            <label for="gtin">GTIN</label>
                            <input type="text" name="gtin" />

                            <label for="qty">Quantity</label>
                            <input type="number" min="1" max="10" value="1" required name="qty" />

                            <label for="qty">Area</label>
                            <input type="number" min="1" max="10" value="1" required name="qty" />

                            <button class="flexauto textcenter" type="submit" value="plus">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex row wrap">
            <div class="control">
                <div class="title">
                    <div class="container">
                        <span class="left">Stock</span>
                        <form class="right">
                            <label for="filter">Filter</label>
                            <input type="text" name="filter" />
                            <button class="flexauto textcenter" type="submit" value="plus">Filter</button>
                        </form>
                    </div>
                </div>
                <div class="content">
                    <div id="storages" class="flex row wrap">
                        
                    </div>
                </div>
            </div>
        </div>
</script>

<script id="template-reports" type="text/html">
    <h1>Reports</h1>
    <p>Here you can view and generate statistics about your warehouse.</p>
</script>

<script id="template-storage" type="text/html">
    <div id="storage-{{storage}}" class="storage">
        <div class="title green">
            {{storage}}
        </div>
        <div class="content">
        </div>
    </div>
</script>

<script id="template-article" type="text/html">
    <div class="article">
        <div>
            {{caption}}
        </div>
        <button>Open</button>
        <button>Delete</button>
    </div>
</script>