<script id="template-index" type="text/html">
    <h1>My Warehouse</h1>
        <p>This is your personal Warehouse. You can add or remove goods from your warehouse by clicking on the
            corresponding buttons.</p>
        <div class="flex row wrap">
            <div class="control collapsible">
                <div class="title clickable">
                    Add new
                </div>
                <div class="content" style="display: none">
                    <form id="form-new-article" class="newline full">
                        <label for="caption">Caption</label>
                        <input type="text" name="caption" maxlength="30" required />

                        <label for="description">Description</label>
                        <textarea name="description" maxlength="256"></textarea>

                        <label for="type_id">Type</label>
                        <select class="types" name="type_id">
                        </select>

                        <label for="gtin">GTIN</label>
                        <input type="text" name="gtin" maxlength="20" />

                        <label for="quantity">Quantity</label>
                        <input type="number" min="1" max="200" value="1" required name="quantity" />
                        
                        <label for="storage">Storage</label>
                        <input type="text" value="A" required name="storage" maxlength="30" />

                        <button class="flexauto textcenter" value="add">Add</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="flex row wrap">
            <div class="control collapsible">
                <div class="title clickable">
                    <div class="container">
                        <span class="left">Stock</span>
                        <form class="right" style="display: none">
                            <label for="filter">Filter</label>
                            <input type="text" name="filter" />
                            <button class="flexauto textcenter" type="submit" value="plus">Filter</button>
                        </form>
                    </div>
                </div>
                <div class="content">
                    <div id="storages" class="flex row wrap">
                        
                    </div>
                </div>
            </div>
        </div>
</script>

<script id="template-article-detail" type="text/html">
    <a onclick="changePage(previous_page)">< Back</a>
    <div class="flex row wrap">
        <div class="control">
            <div class="title">
                Selected article
            </div>
            <div class="content flex column">
                <div class="control flexauto">
                    <div class="content padd10">
                        <div class="left">
                            {{storage}}<br /><strong style="font-size: 1.5em">{{caption}}</strong>
                        </div>
                        <div class="right">
                            Qty: <strong style="font-size: 1.5em">{{quantity}}</strong>
                        </div>
                    </div>
                </div>
                <div class="control flexauto">
                    <div class="title transparent">
                        Details
                    </div>
                    <div class="content">
                        <div class="left marright">
                            <h2>Description</h2>
                            <p>{{description}}</p>
                        </div>
                        <div class="left marright">
                            <h2>Type:</h2>
                            <div>
                                <img class="left" src="./images/{{type_image}}" />
                                <p class="left">{{type_caption}}</p>
                            </div>
                        </div>
                        <div class="left marright">
                            <h2>GTIN / EAN:</h2>
                            <p>{{gtin}}</p>
                        </div>
                        <div class="left marright">
                            <h2>Created:</h2>
                            <p>{{creationDate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="control">
            <div class="title">
                Change article
            </div>
            <div class="content">
                <form id="form-article-detail" class="newline full">
                    <input type="hidden" name="articleId" value="{{articleId}}" />
                    <label for="caption">Caption</label>
                    <input type="text" name="caption" value="{{caption}}" maxlength="30" required />
            
                    <label for="description">Description</label>
                    <textarea name="description" maxlength="256">{{description}}</textarea>

                    <label for="type_id">Type</label>
                    <select class="types" name="type_id">
                    </select>
            
                    <label for="gtin">GTIN</label>
                    <input type="text" name="gtin" value="{{gtin}}" maxlength="20" />
            
                    <label for="quantity">Quantity</label>
                    <input type="number" min="1" max="200" value="{{quantity}}" required name="quantity" />
            
                    <label for="storage">Storage</label>
                    <input type="text" required name="storage" value="{{storage}}" maxlength="30" />
            
                    <button type="submit" class="flexauto textcenter" value="save">Save</button>
                </form>
            </div>
        </div>
    </div>
</script>

<script id="template-reports" type="text/html">
    <h1>Reports</h1>
    <p>Here you can view and generate statistics about your warehouse.</p>

    <div class="flex wrap row">
        <div class="control">
            <div class="title">
                History
            </div>
            <div id="historyItems" class="content">
            </div>
        </div>
    </div>
</script>

<script id="template-history-item" type="text/html">
    <p>{{article_id}} {{creation_date}} {{quantity}}</p>
</script>

<script id="template-storage" type="text/html">
    <div id="storage-{{storage}}" class="storage">
        <div class="title {{title_color}}">
            {{storage}}
        </div>
        <div class="content">
        </div>
    </div>
</script>

<script id="template-article" type="text/html">
    <div class="article disable-dbl-tap-zoom">
        <div class="details">
            <div class="qty-box">
                <span id="article-qty-{{articleId}}">{{quantity}}</span>
            </div>
            <div style="padding: 5px">
                <div class="left">
                    <img src="./images/{{type_image}}" alt="{{type_caption}}" />
                </div>
                <div class="cut-text" style="padding: 5px">
                    <a onclick="changePage('detail', '{{articleId}}')">
                        {{caption}}
                    </a>
                </div>
            </div>
        </div>
        <div class="buttons">
        <button id="deleteButton" onclick="deleteArticle('{{articleId}}')" class="red">Delete</button>
        <button id="openButton" onclick="changePage('detail', '{{articleId}}')" class="green">Open</button>
        <button onclick="changeArticleQuantity('{{articleId}}', 1)">+</button>
        <button onclick="changeArticleQuantity('{{articleId}}', -1)">-</button>
        </div>
    </div>
</script>